<div id="appe" class="tab-pane fade in active">
	<div class="row">
		<h1>APPETIZERS</h1>
	</div>
	<div class="row">
		<div class="col-sm-8">
  			<table>
  				{% for item in appetizers %}
					{% include 'includes/_menuTable.html' %}
				{% endfor %}
  			</table>
		</div>
		<div class="col-sm-4">
			<img src="{{url_for('static', filename='menu/appe1.jpeg')}}" alt="appe1">
			<img src="{{url_for('static', filename='menu/appe2.jpeg')}}" alt="appe2">
			<img src="{{url_for('static', filename='menu/appe3.jpeg')}}" alt="appe3">
			<img src="{{url_for('static', filename='menu/appe4.jpeg')}}" alt="appe4">
			<img src="{{url_for('static', filename='menu/appe5.jpeg')}}" alt="appe5">
			<img src="{{url_for('static', filename='menu/appe6.jpeg')}}" alt="appe6">	

		</div>
	</div>
</div>