<div id="bent" class="tab-pane fade">
	<div class="row">
		<h1>COMBINATION BENTO</h1>
		<p style="color:green">Served with green salad and miso soup</p>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<table>
				{% for item in bento %}
					{% include 'includes/_menuTable.html' %}
				{% endfor %}
			</table>
		</div>
		<div class="col-sm-4">
			<img src="{{url_for('static', filename='menu/bento1.jpg')}}" alt="bento1">
			<img src="{{url_for('static', filename='menu/bento2.jpg')}}" alt="bento2">
			<img src="{{url_for('static', filename='menu/bento3.jpg')}}" alt="bento3">
			<img src="{{url_for('static', filename='menu/bento4.jpg')}}" alt="bento4">
			<img src="{{url_for('static', filename='menu/bento5.jpg')}}" alt="bento5">
			<img src="{{url_for('static', filename='menu/bento6.jpg')}}" alt="bento6">
			<img src="{{url_for('static', filename='menu/bento7.jpg')}}" alt="bento7">
			<img src="{{url_for('static', filename='menu/bento8.jpg')}}" alt="bento8">
		</div>
	</div>
</div>