<div id="lunc" class="tab-pane fade">
	<div class="row">
		<h1>LUNCH</h1>
		<p style="color:red">Mon-Fri <span class="glyphicon glyphicon-option-horizontal"></span>  11:30am to 3:00pm</p>
		<p style="color:green">Served with green salad and miso soup</p>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<table>
				{% for item in lunch %}
			<tr>
				<td>{{item.id}}</td>
				<td style="font-size:1.2em; font-weight: bold;">{{item.name}}</td>
				<td>{{item.description}}</td>
				<td class="text-right">{{item.price}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
		<div class="col-sm-4">
			<img src="{{url_for('static', filename='menu/lunch1.jpg')}}" alt="lunch1">
			<img src="{{url_for('static', filename='menu/lunch2.jpg')}}" alt="lunch2">
			<img src="{{url_for('static', filename='menu/lunch3.jpg')}}" alt="lunch3">				
		</div>
	</div>
</div>