<div id="maki" class="tab-pane fade">
	<div class="row">
		<h1 style="display:inline-block">MAKI & HAND ROLL</h1>
		<a href="#vege" id="vegOptionScrollDown">Vegetarian Option <span class="glyphicon glyphicon-chevron-down"></span></a>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<table>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th class="text-right">Maki<br/>6pcs</th>
				<th class="text-right">Hand Roll<br/>1pc</th>
			</tr>
				
			{% for item in maki %}
			<tr>
				<td>{{item.num}}</td>
				<td style="font-size:1.2em; font-weight: bold;">{{item.name}}</td>
				<td>{{item.description}}</td>
				<td class="text-right">{{item.price1}}</td>
				<td class="text-right">{{item.price2}}</td>
			</tr>
			{% endfor %}
			</table>

		</div>
		<div class="col-sm-4">
			<img src="{{url_for('static', filename='menu/maki1.jpeg')}}" alt="maki1">
			<img src="{{url_for('static', filename='menu/maki2.jpeg')}}" alt="maki2">
			<img src="{{url_for('static', filename='menu/maki3.jpeg')}}" alt="maki3">
			<img src="{{url_for('static', filename='menu/maki4.jpeg')}}" alt="maki4">
			<img src="{{url_for('static', filename='menu/maki5.jpeg')}}" alt="maki5">
			<img src="{{url_for('static', filename='menu/maki6.jpeg')}}" alt="maki6">
			<img src="{{url_for('static', filename='menu/maki7.jpeg')}}" alt="maki7">
			<img src="{{url_for('static', filename='menu/maki8.jpeg')}}" alt="maki8">
			<img src="{{url_for('static', filename='menu/maki9.jpeg')}}" alt="maki9">
			<img src="{{url_for('static', filename='menu/maki10.jpeg')}}" alt="maki10">
			<img src="{{url_for('static', filename='menu/maki11.jpeg')}}" alt="maki11">			
		</div>
	</div>

	<hr />
	<hr />
	<hr />

	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<h1>VEG MAKI & HAND ROLL </h1>
			</div>
			<table id="vege">
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th class="text-right">Maki<br/>6pcs</th>
				<th class="text-right">Hand Roll<br/>1pc</th>
			</tr>
				
			{% for item in vegMaki %}
			<tr>
				<td>{{item.num}}</td>
				<td style="font-size:1.2em; font-weight: bold;">{{item.name}}</td>
				<td>{{item.description}}</td>
				<td class="text-right">{{item.price1}}</td>
				<td class="text-right">{{item.price2}}</td>
			</tr>
			{% endfor %}			
			</table>
		</div>
		<div class="col-sm-4">
			<img src="{{url_for('static', filename='menu/vegmaki1.jpeg')}}" alt="maki11">
			<img src="{{url_for('static', filename='menu/vegmaki2.jpeg')}}" alt="maki12">
		</div>
	</div>
</div>