<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavCollapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="{{url_for('static', filename='logo.jpg')}}">
      <p class="navbar-text navbar-right">Place your order: (416)755-3335</p>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="myNavCollapse">
      <ul class="nav navbar-nav">
        <li><a href="/" id="myMenu" class="{{ 'active' if active_page == 'home' else '' }}">Home</a></li>
        <li><a href="/menu" id="myMenu" class="{{ 'active' if active_page == 'menu' else '' }}">Menu</a></li>
        <li><a href="#" id="myMenu" class="{{ 'active' if active_page == 'gallery' else '' }}">Gallery</a></li>
        <li><a href="#" id="myMenu" class="{{ 'active' if active_page == 'contactUs' else '' }}">Contact Us</a></li>
      </ul> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>