<div id="soup" class="tab-pane fade">
	<div class="row">
		<h1>SOUPS & SALAD</h1>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<table>
				{% for item in soupNsalad %}
					{% include 'includes/_menuTable.html' %}
				{% endfor %}
			</table>
		</div>
		<div class="col-sm-4">
			<img src="{{url_for('static', filename='menu/soup1.jpg')}}" alt="soup1">
			<img src="{{url_for('static', filename='menu/soup2.jpg')}}" alt="soup2">
			<img src="{{url_for('static', filename='menu/soup3.jpg')}}" alt="soup3">		
		</div>
	</div>
</div>