<div id="soup" class="tab-pane fade">
	<div class="row">
		<h1>SOUPS & SALAD</h1>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<table>
				{% for item in soupNsalad %}
				<tr>
					<td>{{ item.id }}</td>
					<td style="width: 30%; font-size: 1.2em; font-weight: bold;">{{ item.name }}</td>
					<td>
						{% if item.option != null %}
							{% for op in item.option %}
								<p>{{ op.id }}  <b>{{ op.name }}</b>
								{{ op.description }}</p>
							{% endfor %}
						{% else %}
							{{ item. description}}
						{% endif %}
					</td>
					<td>
						{% if item.option != null %}
							{% for op in item.option %}
								<p>{{ op.price }}</p>
							{% endfor %}
						{% else %}
							{{ item.price }}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-sm-4">
			<img src="{{url_for('static', filename='menu/soup1.jpg')}}" alt="soup1">
			<img src="{{url_for('static', filename='menu/soup2.jpg')}}" alt="soup2">
			<img src="{{url_for('static', filename='menu/soup3.jpg')}}" alt="soup3">		
		</div>
	</div>
</div>