<div id="sushi" class="tab-pane fade">
	<div class="row">
		<h1>SUSHI DINNER</h1>
		<p style="color:green">Served with green salad and miso soup</p>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<table>
				{% for item in sushidinner %}
					{% include 'includes/_menuTable.html' %}
				{% endfor %}
			</table>
		</div>
		<div class="col-sm-4">
			<img src="{{url_for('static', filename='menu/sushi1.jpeg')}}" alt="sushi1">
			<img src="{{url_for('static', filename='menu/sushi2.jpeg')}}" alt="sushi2">
			<img src="{{url_for('static', filename='menu/sushi3.jpeg')}}" alt="sushi3">
			<img src="{{url_for('static', filename='menu/sushi4.jpeg')}}" alt="sushi4">
			<img src="{{url_for('static', filename='menu/sushi5.jpeg')}}" alt="sushi5">
			<img src="{{url_for('static', filename='menu/sushi6.jpeg')}}" alt="sushi6">
		</div>
	</div>
</div>
