<div id="tray" class="tab-pane fade">
	<div class="row">
		<h1>COMBINATION TRAY</h1>
		<p style="color:red">** Take Out Only **</p>
	</div>
<!-- 	<div class="row" style="margin-bottom: 50px">
		<img src="{{url_for('static', filename='menu/tray1.jpg')}}" style="width:250px; height:200px;">
		<img src="{{url_for('static', filename='menu/tray2.jpg')}}" style="width:250px; height:200px;">
		<img src="{{url_for('static', filename='menu/tray3.jpg')}}" style="width:250px; height:200px;">
		<img src="{{url_for('static', filename='menu/tray4.jpg')}}" style="width:250px; height:200px;">
	</div> -->
	<div class="row">
		<table>
			{% for item in tray %}
			<tr>
				{% include 'includes/_menuTable.html' %}
			</tr>
			{% endfor %}
		</table>
	</div>
</div>