body {
	background-color: #f7f7f7;
}

pre {
	border: none;
	background-color: transparent;
}

/* Navbar CSS */
.navbar {
	background-color: rgba(200, 200, 200, 0.5);
/*	background-color: #b2b2b2;*/
	font-family: "Lucida Console", Monaco, monospace;
	border: none;
}

.navbar .container{
	margin:0 auto;
	height: 14vh;
}

.navbar-brand {
	font-size: 200%;
}

.navbar-header, .navbar-collapse {
	padding-top: 3vh; /* Manually aligned center vertically */
}

.navbar-toggle {
	background-color: black;
}

.navbar-text {
	margin: 0;
	padding: 0;
	margin-left: 10px;
	color: black !important;
}

.navbar-nav {
	background-color: transparent;
}

#myMenu {
	color: black;
}

#myMenu:hover, #myMenu.active {
	color:red;
}

/* home.html CSS */

#myCarousel {
	/*margin-top: 13vh*/;
}

.carousel-inner .item {
	width: 100vw;
	/*height: 50vw;*/
	height: 57vw;
}

.carousel-inner .item img {
	width: 100%;
	height: auto;
	opacity: 1;
}

.mycarousel-caption * {
	z-index: 999;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	font-family: 'Glegoo', serif;
	text-align: right;
}

.nijiCarousel h1, .nijiCarousel p {
	background-color: transparent;
	font-size: 100%;
}

.myAbout {
	padding: 20px;
	margin: 100px 10vw 100px 10vw;
}

.myAbout * {
	font-family: 'Glegoo', serif;
}

#aboutPhoto {
	display: flex;
	flex-wrap: wrap;
	margin-left: 5vw;
}

#aboutPhoto img {
	height: 13vw;
	width: auto;
}

.mySeeMenu {
	width: 100%;
	background-image: url('../static/background_seemenu.jpg');
	opacity:0.9;
	height: 50vw;
	margin-top:30px;
}

.seeMenu {
	border: 2px solid black;
	border-radius: 5px;
	padding:20px;
	opacity: 1;
	margin-left: 40%;
	background-color: transparent;
	color: white;
}

.myOpeningHours {
	width: 100%;
	padding-top: 10vw;
	padding-bottom: 10vw;
	overflow: auto;

}

.myOpeningHours div {
	text-align: center;
	font-size:80%;
	padding-bottom: 30px;
}

.myBorderRight {
	border-right: 5px solid #cccccc;
}

#myGoogleMap {
	width: 100%;
	height: 400px;
	float: left; 
	padding: 10px;
}

.myMap {
	padding: 5vw;
	background-image: url('../static/background.jpg');
	background-size: 100% 100%;
}

.myMap div {
	text-align: center;
}

.myMap div * {
	font-family: 'Glegoo', serif;
}

@media screen and (max-width : 700px) {
	.mycarousel-caption h1 {
		font-size: 2em;
		font-weight: 900;
	}
	.mycarousel-caption {
		position: absolute;
		left: 0px;
		bottom: 40px;
	}
	.mycarousel-caption * {
		padding-left: 50px;
	}
	.myOpeningHours div *, .myMap div * {
		font-family: 'Glegoo', serif;
		font-size: 1em;
	}
	.myMenuNav li a {
		text-align: center;
	  	-webkit-hyphens: auto;
	 	-ms-hyphens: auto;
	 	hyphens: auto;
	 	font-size:70%;
	}
	.myTabContent {
		font-size: 60%;
	}
	.myTabContent img {
		width: 22vw;
		height: auto;
		margin: 5px;
	}
}

@media screen and (min-width : 700px) {
	.mycarousel-caption h1 {
		font-size: 4em;
		font-weight: 900;
	}
	.mycarousel-caption {
		position: absolute;
		left: 0px;
		bottom: 100px;
	}
	.mycarousel-caption * {
		padding-left: 100px;
	}
	.myOpeningHours div *, .myMap div * {
		font-family: 'Glegoo', serif;
		font-size: 1.2em;
	}
	.myMenuNav li a {
		text-align: center;
		font-size: 100%;
	}
	.myTabContent img {
		width: 80%;
		height: auto;
		margin: 5px;
	}
}

.myMenu {
	margin-top: 13vh;
	font-family: 'Glegoo', serif;
}

.myMenu .nav {
	padding: 2vw 1vw 0px 2vw;
	display: flex;
	flex-wrap: wrap;
}

.myMenuNav li {
	width: 18%;
	margin: 2px;
	margin-bottom: 10px;
	border: 2px solid white;
}

.myMenuNav li:hover, .myMenuNav li.active {
    border-bottom-color: red ! important;
}

.myMenuNav>li.active>a, .myMenuNav>li.active>a:focus, .myMenuNav>li.active>a:hover, .myMenuNav>li>a:hover {
    background-color: #FFFFFF ! important;
    color: black ! important;
}

.myTabContent {
	margin: 2vw;
}

.myTabContent h1 {
	font-size: 3em;
	font-family: 'Glegoo', serif;
}

.myTabContent table {
	width: 100%;
}

.myTabContent td, .myTabContent th {
	padding: 13px;
}

.myTabContent tr:nth-child(odd) {
    background: #f7f7f7;
}

#vegOptionScrollDown {
	display: inline-block;
	float: right;
	background-color: #bcdbc4;
	border: 1px solid #bcdbc4;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

#vegOptionScrollDown:hover {
	text-decoration: none;
	background-color: green;
	color: white;
}

#accordion h3 {
	font-size: 3em;
}

#accordion .table {
	display: table;
	width: 100%;
}

#accordion .table-cell {
	display: table-cell;
	padding: 13px;
}

#accordion a.table-row {
	display:table-row;
}

#accordion a.table-row:nth-child(odd) {
    background: #f7f7f7;
}

#accordion .panel-title {
	font-weight: bold;
	font-size:1.2em;
}

#optionsTable {
	margin: 10px;
}

#optionsTable td, #optionsTable th {
	padding: 10px;
}

#optionsTable tr {
	border: 1px solid black; 
	border-collapse: collapse;
}

#myFooter {
	width: 100vw;
	height: 50px;
	background-color: #1c1304;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	font-weight: 300;
	padding:15px;
	font-size: 0.7em;
}
