{% extends 'layout.html' %}
{% set active_page = "menu" %}

{% block body %}
<div class="myMenu container" style="background-color: white;">
	
	<ul class="nav nav-pills myMenuNav">
		<li class="active"><a data-toggle="pill" href="#appe">Appetizers</a></li>
	 	<li><a data-toggle="pill" href="#soup">Soups & Salad</a></li>
	 	<li><a data-toggle="pill" href="#maki">Maki & Hand Roll</a></li>
	 	<li><a data-toggle="pill" href="#alac">&Agrave; la Carte</a></li>
	 	<li><a data-toggle="pill" href="#main">Main Dishes</a></li>
	 	<li><a data-toggle="pill" href="#sushi">Sushi Dinner</a></li>
	 	<li><a data-toggle="pill" href="#love">Love Boat</a></li>
	 	<li><a data-toggle="pill" href="#bent">Combination Bento</a></li>
	 	<li><a data-toggle="pill" href="#lunc">Lunch</a></li>
	 	<li><a data-toggle="pill" href="#tray">Combination Tray</a></li>

	</ul>
	
	<div class="tab-content myTabContent">
		{% include 'includes/_tray.html' %}
		{% include 'includes/_lunch.html' %}
		{% include 'includes/_appetizers.html' %}
		{% include 'includes/_soupNsalad.html' %}
		{% include 'includes/_maki.html' %}
		{% include 'includes/_alacarte.html' %}
		{% include 'includes/_maindish.html' %}
		{% include 'includes/_sushi.html' %}
		{% include 'includes/_love.html' %}
		{% include 'includes/_maindish.html' %}
		{% include 'includes/_bento.html' %}
  	</div>
</div>

{% endblock %}