{% extends 'layout.html' %}

{% block body %}

<div class="myMenu container" style="background-color: white;">
	<div class="myTabContent">
		<div class="row">
			<h1>VEGETARIAN MENU</h1>
		</div>
		<div class="row">
			<div class="col-sm-8">
	  			<table>
	  				{% for item in veg %}
						{% include 'includes/_menuTable.html' %}
					{% endfor %}
	  			</table>

	  			<p style="color:green;">Below items can be made vegetarian. Please let us know when you place an order.</p>
	  			<table>
	  				{% for item in veg2 %}
	  					{% include 'includes/_menuTable.html' %}
	  				{% endfor %}
				</table>

	  			<hr />

	  			<table>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th class="text-right">Maki<br/>6pcs</th>
						<th class="text-right">Hand Roll<br/>1pc</th>
					</tr>
						
					{% for item in vegMaki %}
					<tr>
						<td>{{item.num}}</td>
						<td style="font-size:1.2em; font-weight: bold;">{{item.name}}</td>
						<td>{{item.description}}</td>
						<td class="text-right">{{item.price1}}</td>
						<td class="text-right">{{item.price2}}</td>
					</tr>
					{% endfor %}
				</table>

				<hr />

				<table>
					<tr>
						<th></th>
						<th></th>
						<th class="text-right">Sushi<br/>2pcs</th>
						<th class="text-right">Sashimi<br/>3pcs</th>
					</tr>
						
					{% for item in vegAlacarte %}
					<tr>
						<td style="font-size:1.2em; font-weight: bold;">{{item.name}}</td>
						<td>{{item.description}}</td>
						<td class="text-right">{{item.price1}}</td>
						<td class="text-right">{{item.price2}}</td>
					</tr>
					{% endfor %}
				</table>

				
				<hr />
				<hr />
				<h3>Lunch</h3>
				<table>
					{% for item in vegLunch %}
						{% include 'includes/_menuTable.html' %}
					{% endfor %}
				</table>
				<hr />
				<p style="color:green;">Below items can be made vegetarian. Please let us know when you place an order.</p>
				<table>
					{% for item in veg2Lunch %}
						{% include 'includes/_menuTable.html' %}
					{% endfor %}
				</table>
			</div>

			<div class="col-sm-4">
				<img src="{{url_for('static', filename='menu/appe2.jpeg')}}" alt="edamame">
				<img src="{{url_for('static', filename='menu/appe4.jpeg')}}" alt="sushipizza">
				<img src="{{url_for('static', filename='menu/appe5.jpeg')}}" alt="japchae">
				<img src="{{url_for('static', filename='menu/soupNsalad1.jpeg')}}" alt="salad">
				<img src="{{url_for('static', filename='menu/soupNsalad3.jpeg')}}" alt="salad">
				<img src="{{url_for('static', filename='menu/main6.jpeg')}}" alt="vegtemp">
				<img src="{{url_for('static', filename='menu/bento7.jpg')}}" alt="bento7">
				<img src="{{url_for('static', filename='menu/main8.jpeg')}}" alt="bibimbap">
				<img src="{{url_for('static', filename='menu/vegmaki1.jpeg')}}" alt="veg1">
				<img src="{{url_for('static', filename='menu/vegmaki2.jpeg')}}" alt="veg2">
			</div>
		</div>
	</div>
</div>

{% endblock %}